html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* navbar style start */

/* side navbar style start */

.side-navbar{
    width: 8rem;
    height: 100%;
    position: fixed;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.menu-icon{
    margin-top: 1.7rem;
    cursor: pointer;
}
.line{
    height: .2rem;
    width: 2rem;
    background-color: #222;
    margin-bottom: .2rem;
}

.line1, .line3{
    width: 1.7rem;
    transition: width .7s, color .8s;
}

.menu-icon:hover .line{
    width: 2.5rem;
    background-color: rgba(0, 100, 0, 0.932);
}
.social-icon-list{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.social-link{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.644);
    transition: color 1s;
}

.social-link:hover{
    color: rgba(253, 192, 255, 0.712);
}
.sidebar-year{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: grey;
}
/* side navbar style end */

/* navigation style start */

.navigation{
   /* margin-left: 8rem;*/
    position: fixed;
    left: -14rem;
    width: 22rem;
    height: 100%;
    background:linear-gradient(to top, rgba(34,32,41,1),rgba(34,32,41,.8)), url(../image/nav-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left .7s cubic-bezier(1,0,0,1);
}
.navigation-header{

}
.navigation-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: bisque;
    text-align: center;
    letter-spacing: .1rem;

}

.navigation-search{
    position: relative;
}

.navigation-input-search{
    font-family: 'Josenfin Sans', sans-serif;
    font-size: 1.5rem;
    color: bisque;
    width: 18rem;
    background-color: rgb(5,5,5,.7);
    padding: .5rem .4rem;
    border: .1rem solid black;
    border-radius: 5.5rem;
    transition: background-color .4s;


}

.navigation-input-search:focus{
    background-color: rgb(19, 18, 18, .5);
    
}

.navigation-search-btn{
    background: transparent;
    border: none;
    color: bisque;
    font-size: 1.8rem;
    position: absolute;
    right: .7rem;
    top: .4rem;
    cursor: pointer;
}

.navigation-menu-list-items{
    list-style: none;
    padding: 0;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.navigation-item{
    position: relative;
}
.navigation-link{
    text-decoration: none;
    color: bisque;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    transition: color .7s, font-size .8s, font-weight .5s;
    
}

.navigation-link::before{
   content: '';
    width: 0;
    height: .2rem;
    background-color: beige;
    position: absolute;
    left: -4rem;
    top: 1rem;
    transition: width .5s cubic-bezier(1, 0.82, 0.165, 1);
}
.navigation-link::after{
   content: '';
    width: 0;
    height: .2rem;
    background-color: beige;
    position: absolute;
    right: -4rem;
    top: 1rem;
    transition: width .5s cubic-bezier(1, 0.82, 0.165, 1);
}

.navigation-link:hover{
    color: rgb(146, 146, 90);
    font-size: 2rem;
    font-weight: 500;
}
.navigation-link:hover::before{
    width: 2rem;
}
.navigation-link:hover::after{
    width: 2rem;
}

.navigation-copyright{
    color: bisque;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.checkbox:checked ~ .navigation{
    left: 8rem;
}

.checkbox:checked ~ .side-navbar .line1{
    transform: rotate(-405deg) translate(-5px, 6px);
}
.checkbox:checked ~ .side-navbar .line2{
    opacity: 0;
}
.checkbox:checked ~ .side-navbar .line3{
    transform: rotate(405deg);
}
   
/* navigation style end */

/* navbar style end */

/* header style start */

.header{
    margin-left: 8rem;
    height: 100vh;
    background-image:linear-gradient(to top, rgba(0,0,0,.7),rgba(0,0,0,.4)), url(../image/header-1.jpeg);
    background-size: cover;
}

.brand-logo{
 display: flex;
 cursor: pointer;   

}
.brand-image{
    
}
.brand-heading{
    font-family: 'Josenfin Sans', sans-serif;
    color: bisque;
    font-size: 1.5rem;
    font-weight: 400;
    
}

.header-banner{
    font-family: 'Josenfin Sans', sans-serif;
    color: bisque;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.banner-heading{
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 500;
    animation: banner-animation 2s;
}
.banner-slowgan{
    font-size: 1.5rem;
    font-weight: 200;
    animation: banner-animation 1.5s .5s backwards;
}

.banner-button{
    border: none;
    font-size: 2rem;
    color: black;
    width: 20rem;
    padding: 1rem .5rem;
    border-radius: 5rem;
    background: linear-gradient(to right, gold, goldenrod);
    cursor: pointer;
    animation: banner-animation 1s 1s backwards;
}

.banner-button:hover{
    background: linear-gradient(to left, gold, goldenrod);
}
@keyframes banner-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* header style end */

/* About us section style start */

.about-us{
    margin-left: 8rem;
    background-color: #dedede;
    display: flex;
    
    

}
.about-us-content{
    /* flex: 0 1 50%; */
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    
}

.about-us-heading{
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(98, 107, 80);
    
}
.about-us-underline{

}
.small-underline{
    width: 5rem;
    height: .1rem;
    background-color: red;
    margin: 0 auto .7rem auto;
}
.big-underline{
    width: 10rem;
    height: .1rem;
    background-color: red;
}
.sub-heading{
    font-size: 2rem;
    font-weight: 300;
    color: rgb(98, 107, 80);
}
.about-us-paragraph{
    font-size: 1.5rem;
    color: black;
    text-align: justify;
    font-weight: 300;
    padding-left: 2rem;
    
    
}

.about-us-button{
    background-color: transparent;
    font-size: 1.8rem;
    color: rgb(161, 85, 85);
    text-transform: capitalize;
    padding: .5rem .7rem;
    cursor: pointer;
    border: .2rem solid rgb(22, 31, 5);
    border-radius: 4rem;
    margin-bottom: .7rem;
}
.about-us-arrow{
    transition: margin-left 1s;
}
.about-us-button:hover{
    background: linear-gradient(to left, gold, goldenrod);
}
.about-us-button:hover .about-us-arrow{
    margin-left: 1.5rem;
}


.about-us-image-right-side{
    /* flex: 1 1; */
    flex-basis: 50%;
    position: relative;
   
    
}

.about-image{
    width: 25rem;
    /* position: absolute;
    left: 30%;
    top: 30%; */
    transition: width 1s;
    
}

.image1{
   
    position: absolute;
    top: 25%;
    left: 25%;
    
}
.image2{

    position: absolute;
    top: 35%;
    left: 35%;
}
.image3{

    position: absolute;
    top: 15%;
    left: 15%;
}
.image4{

    position: absolute;
    top: 40%;
    left: 40%;

}
.about-image:hover{
    cursor: pointer;
    width: 26rem;
}



/* About us section style end */

/* Room section style start */

.room-section{
    margin-left: 8rem;
}
.rooms-common-heading{
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(98, 107, 80);
    text-align: center;
}
.big-underlines{
    width: 10rem;
    height: .1rem;
    background-color: red;
    margin: auto;
}
.rooms-cards-wrapper{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #dedede;
    
}
.room-card{
    width: 45rem;
    background-color: bisque;
    margin: 1rem;
    box-shadow: 4px 4px 4px goldenrod;
    border-radius: 2rem;
    transition: transform .6s .2s;
    
   
}
.room-card:hover{
    transform: scale(.98, .98);
    opacity: .9;
}
.room-image{
    width: 100%;
}
.room-card-content{
    background-color: rgb(245, 216, 181);
    margin: .5rem;
    
    
}
.room-card-heading{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
}
.room-card-paragraph{
    font-size: 1.5rem;
    margin: 0;
}
.room-price{
    text-align: end;
    font-size: 2rem;
}
.all-rooms{
    background-color: #fddb3a;
    margin-left: 22rem;
    margin-right: 22rem;
    border-radius: 10rem;
}
.room-button{
    background-color: transparent;
    font-size: 1.8rem;
    color: rgb(161, 85, 85);
    text-transform: capitalize;
    padding: .5rem .7rem;
    cursor: pointer;
    border: .2rem solid rgb(22, 31, 5);
    border-radius: 4rem;
    display: block;
    margin: .5rem auto;
}

.room-button:hover{
    background: linear-gradient(to left, gold, goldenrod);
}
.room-card-button-arrow{
    transition: margin-left 1s;
}

.room-button:hover .room-card-button-arrow{
    margin-left: 1.5rem;
}



/* Room section style end */

/* Customer coment style section start */

.customer-comments{
    margin-left: 8rem;
    background-color: rgb(202, 197, 191);
}
.customer-heading{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
}
.customers-paragraph{
    width: 60%;
    font-size: 1.6rem;
    margin: 2rem auto 5rem auto;
    color: black;
}
.cusomer-card-wraper{
    display: flex;
    justify-content: space-between;
}
.customer-card{
    background-color: #dedede;
    width: 60rem;
    display: flex;
    margin: 3rem auto 3rem auto;
    height: 25rem;
    border-radius: 1rem;
}
.customer-card-image{
    margin-left: -.5rem;
    margin-top: 1rem;
}
.customer-image{
    width: 25rem;
    border-radius: 1rem;
}
.customer-info{
    padding: .8rem;
}
.customer-name{
    font-size: 2rem;

}
.customer-paragraph1{
    font-size: 1.7rem;
    text-align: center;
}
.customer-paragraph2{
    font-size: 1.5;
    font-style: italic;
    text-align: justify;

}
/* customer comment section style end */
